<a href="https://colab.research.google.com/github/jassynavarro/CCDATSCL_COM221_PROJECT/blob/main/data_science_wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_excel('data_science_dataset.xlsx')

# A. Discovering

In [ ]:
df.head(100)

,date_created,date_completed,task_id,task_name,category,status,work_alone,got_distracted,when_worked,day_quality,notes
0,2025-10-01,NaT,1,NaN,NaN,NaN,NaN,NaN,NaN,unproductive,NaN
1,2025-10-02,2025-10-02 00:47:00,2,meeting with Byteminds,thesis,done,no,no,night,normal,NaN
2,2025-10-02,2025-10-02 07:14:00,3,plan church anniversary,church,done,yes,yes-alot,evening,normal,"spaced out multiple times, phone kept distract..."
3,2025-10-02,2025-10-02 23:06:00,4,print and organize consultation logs,thesis,done,yes,no,afternoon,normal,NaN
4,2025-10-02,2025-10-03 00:00:00,5,assign this week's special number,church,done,yes,yes-little,evening,normal,"got bored, phone kept distracting me"
...,...,...,...,...,...,...,...,...,...,...,...
95,2025-11-04,2025-11-04 08:29:00,96,pay for the requested documents to be passed o...,academics,done,yes,no,afternoon,normal,NaN
96,2025-11-05,2025-11-05 02:28:00,97,buy (3) pambatang bonamine and maliit na baby ...,personal,done,yes,no,evening,normal,NaN
97,2025-11-06,2025-11-06 00:00:00,98,bonding with people,personal,done,no,yes-alot,afternoon,normal,scrolling on phone
98,2025-11-06,2025-11-08 00:05:00,99,clean,personal,done,yes,yes-alot,afternoon,normal,daydreaming a lot
99,2025-11-07,2025-11-09 15:13:00,100,clean,personal,done,yes,yes-alot,afternoon,unproductive,"kept checking social media, spaced out"

In [ ]:
df.columns

Index(['date_created', 'date_completed', 'task_id', 'task_name', 'category',
       'status', 'work_alone', 'got_distracted', 'when_worked', 'day_quality',
       'notes'],
      dtype='object')

In [ ]:
df.shape

(337, 11)

In [ ]:
numerical_features = df.select_dtypes(include=['number', 'datetime']).columns
numerical_features

Index(['date_created', 'date_completed', 'task_id'], dtype='object')

In [ ]:
categorical_features = df.select_dtypes(include=['object', 'category']).columns
categorical_features

Index(['task_name', 'category', 'status', 'work_alone', 'got_distracted',
       'when_worked', 'day_quality', 'notes'],
      dtype='object')

# B. STRUCTURING

In [ ]:
df.dtypes

date_created      datetime64[ns]
date_completed    datetime64[ns]
task_id                    int64
task_name                 object
category                  object
status                    object
work_alone                object
got_distracted            object
when_worked               object
day_quality               object
notes                     object
dtype: object

In [ ]:
df.index.duplicated().any()

np.False_

In [ ]:
df.index.hasnans

False

In [ ]:
df.duplicated().any()

np.False_

In [ ]:
df["date_completed"] = pd.to_datetime(df["date_completed"], errors="coerce").dt.normalize()

In [ ]:
df.dtypes

date_created      datetime64[ns]
date_completed    datetime64[ns]
task_id                    int64
task_name                 object
category                  object
status                    object
work_alone                object
got_distracted            object
when_worked               object
day_quality               object
notes                     object
dtype: object

# C. Cleaning

In [ ]:
df

,date_created,date_completed,task_id,task_name,category,status,work_alone,got_distracted,when_worked,day_quality,notes
0,2025-10-01,NaT,1,NaN,NaN,NaN,NaN,NaN,NaN,unproductive,NaN
1,2025-10-02,2025-10-02,2,meeting with Byteminds,thesis,done,no,no,night,normal,NaN
2,2025-10-02,2025-10-02,3,plan church anniversary,church,done,yes,yes-alot,evening,normal,"spaced out multiple times, phone kept distract..."
3,2025-10-02,2025-10-02,4,print and organize consultation logs,thesis,done,yes,no,afternoon,normal,NaN
4,2025-10-02,2025-10-03,5,assign this week's special number,church,done,yes,yes-little,evening,normal,"got bored, phone kept distracting me"
...,...,...,...,...,...,...,...,...,...,...,...
332,2026-01-30,2026-01-30,333,update february,church,done,yes,yes-little,afternoon,productive,kept checking social media
333,2026-01-30,2026-01-30,334,laundry,personal,done,yes,yes-little,afternoon,productive,scrolling on phone
334,2026-01-30,2026-01-30,335,expert meeting 11pm,thesis,done,no,no,night,productive,NaN
335,2026-01-31,2026-01-31,336,yp music sheet and video,church,done,yes,yes-alot,evening,normal,got tired halfway
336,2026-01-31,2026-01-31,337,yp choir,church,done,no,no,evening,normal,NaN

In [ ]:
df.isna().sum()

date_created        0
date_completed      8
task_id             0
task_name           4
category            4
status              4
work_alone          4
got_distracted      4
when_worked         4
day_quality         0
notes             187
dtype: int64

In [ ]:
df["date_completed"] = df["date_completed"].fillna(pd.NaT)
df['task_name'] = df['task_name'].fillna('None')
df['category'] = df['category'].fillna('None')
df['status'] = df['status'].fillna('None')
df['work_alone'] = df['work_alone'].fillna('None')
df['got_distracted'] = df['got_distracted'].fillna('None')
df['when_worked'] = df['when_worked'].fillna('None')
df['notes'] = df['notes'].fillna('None')

In [ ]:
df.isna().sum()

date_created      0
date_completed    8
task_id           0
task_name         0
category          0
status            0
work_alone        0
got_distracted    0
when_worked       0
day_quality       0
notes             0
dtype: int64

In [ ]:
df

,date_created,date_completed,task_id,task_name,category,status,work_alone,got_distracted,when_worked,day_quality,notes
0,2025-10-01,NaT,1,None,None,None,None,None,None,unproductive,None
1,2025-10-02,2025-10-02,2,meeting with Byteminds,thesis,done,no,no,night,normal,None
2,2025-10-02,2025-10-02,3,plan church anniversary,church,done,yes,yes-alot,evening,normal,"spaced out multiple times, phone kept distract..."
3,2025-10-02,2025-10-02,4,print and organize consultation logs,thesis,done,yes,no,afternoon,normal,None
4,2025-10-02,2025-10-03,5,assign this week's special number,church,done,yes,yes-little,evening,normal,"got bored, phone kept distracting me"
...,...,...,...,...,...,...,...,...,...,...,...
332,2026-01-30,2026-01-30,333,update february,church,done,yes,yes-little,afternoon,productive,kept checking social media
333,2026-01-30,2026-01-30,334,laundry,personal,done,yes,yes-little,afternoon,productive,scrolling on phone
334,2026-01-30,2026-01-30,335,expert meeting 11pm,thesis,done,no,no,night,productive,None
335,2026-01-31,2026-01-31,336,yp music sheet and video,church,done,yes,yes-alot,evening,normal,got tired halfway
336,2026-01-31,2026-01-31,337,yp choir,church,done,no,no,evening,normal,None

# D. Enriching

In [ ]:
df.dtypes

date_created      datetime64[ns]
date_completed    datetime64[ns]
task_id                    int64
task_name                 object
category                  object
status                    object
work_alone                object
got_distracted            object
when_worked               object
day_quality               object
notes                     object
dtype: object

In [ ]:
df["date_created"] = pd.to_datetime(df["date_created"])
df["date_completed"] = pd.to_datetime(df["date_completed"])

df["completion_days"] = (
    df["date_completed"] - df["date_created"]
).dt.days

In [ ]:
df["created_weekday"] = df["date_created"].dt.day_name()

In [ ]:
df["created_weekday"] = df["date_created"].dt.day_name()
df["is_weekend"] = df["date_created"].dt.dayofweek >= 5  # True/False
df["is_weekend"] = df["is_weekend"].astype(int)  # 1 = weekend, 0 = weekday

In [ ]:
# Simple yes/no to 0/1
df["work_alone_num"] = df["work_alone"].map({"yes": 1, "no": 0})

# For got_distracted, assign numeric values
df["got_distracted_num"] = df["got_distracted"].map({
    "no": 0,
    "yes-little": 1,
    "yes-alot": 2
})

In [ ]:
df["day_quality_num"] = df["day_quality"].map({
    "unproductive": 0,
    "normal": 1,
    "productive": 2
})

In [ ]:
df.head(50)

,date_created,date_completed,task_id,task_name,category,status,work_alone,got_distracted,when_worked,day_quality,notes,completion_days,created_weekday,is_weekend,work_alone_num,got_distracted_num,day_quality_num
0,2025-10-01,NaT,1,None,None,None,None,None,None,unproductive,None,NaN,Wednesday,0,NaN,NaN,0
1,2025-10-02,2025-10-02,2,meeting with Byteminds,thesis,done,no,no,night,normal,None,0.0,Thursday,0,0.0,0.0,1
2,2025-10-02,2025-10-02,3,plan church anniversary,church,done,yes,yes-alot,evening,normal,"spaced out multiple times, phone kept distract...",0.0,Thursday,0,1.0,2.0,1
3,2025-10-02,2025-10-02,4,print and organize consultation logs,thesis,done,yes,no,afternoon,normal,None,0.0,Thursday,0,1.0,0.0,1
4,2025-10-02,2025-10-03,5,assign this week's special number,church,done,yes,yes-little,evening,normal,"got bored, phone kept distracting me",1.0,Thursday,0,1.0,1.0,1
5,2025-10-03,2025-10-03,6,progress update for project LODI,academics,done,yes,no,morning,productive,None,0.0,Friday,0,1.0,0.0,2
6,2025-10-03,2025-10-06,7,songs for church anniversary,church,done,yes,yes-little,evening,productive,scrolling on phone,3.0,Friday,0,1.0,1.0,2
7,2025-10-03,2025-10-04,8,songs for choir (October),church,done,yes,yes-little,evening,productive,scrolling on phone,1.0,Friday,0,1.0,1.0,2
8,2025-10-03,2025-10-04,9,think of a topic prop and pass topic prop (SOC...,academics,done,yes,yes-little,afternoon,productive,got bored,1.0,Friday,0,1.0,1.0,2
9,2025-10-03,2025-10-03,10,upload exercise 6 (RL),academics,done,yes,yes-little,evening,productive,spaced out multiple times,0.0,Friday,0,1.0,1.0,2
10,2025-10-03,2025-10-03,11,topic proposal (RL),academics,done,yes,yes-alot,afternoon,productive,phone kept distracting me,0.0,Friday,0,1.0,2.0,2
11,2025-10-03,2025-10-03,12,print and write visuals of allen (Ma'am Susan),personal,done,yes,no,morning,productive,None,0.0,Friday,0,1.0,0.0,2
12,2025-10-03,2025-10-05,13,structure of the paper (Thesis 1),thesis,done,yes,yes-little,night,productive,scrolling on phone,2.0,Friday,0,1.0,1.0,2
13,2025-10-03,2025-10-05,14,GIS upload (CLA),church,done,yes,no,evening,productive,None,2.0,Friday,0,1.0,0.0,2
14,2025-10-04,2025-10-04,15,consultation log 7,thesis,done,yes,no,afternoon,productive,None,0.0,Saturday,1,1.0,0.0,2
15,2025-10-04,2025-10-05,16,choosing final topic (RL),academics,done,yes,yes-little,afternoon,productive,scrolling on phone,1.0,Saturday,1,1.0,1.0,2
16,2025-10-04,2025-10-04,17,bring visuals and print of allen,personal,done,yes,no,afternoon,productive,None,0.0,Saturday,1,1.0,0.0,2
17,2025-10-04,2025-10-04,18,bring consultation logs (left it on the table),thesis,done,yes,no,afternoon,productive,None,0.0,Saturday,1,1.0,0.0,2
18,2025-10-04,2025-10-04,19,continue doing the LODI (11am),academics,done,yes,yes-alot,evening,productive,got bored,0.0,Saturday,1,1.0,2.0,2
19,2025-10-04,2025-10-04,20,strengthen SOCPRO topic,academics,done,yes,yes-little,night,productive,scrolling on phone,0.0,Saturday,1,1.0,1.0,2
20,2025-10-04,2025-10-04,21,do missing lec,academics,done,yes,yes-little,afternoon,productive,scrolling on phone,0.0,Saturday,1,1.0,1.0,2
21,2025-10-05,2025-10-05,22,submitted na AFS GIS na lang,church,done,yes,no,evening,normal,None,0.0,Sunday,1,1.0,0.0,1
22,2025-10-05,2025-10-05,23,music sheet,church,done,yes,yes-little,evening,normal,got tired halfway,0.0,Sunday,1,1.0,1.0,1
23,2025-10-05,2025-10-05,24,choir,church,done,no,no,evening,normal,None,0.0,Sunday,1,0.0,0.0,1
24,2025-10-05,2025-10-05,25,GIS,church,done,yes,no,evening,normal,None,0.0,Sunday,1,1.0,0.0,1
25,2025-10-05,2025-10-05,26,sunday school teacher,church,done,yes,no,morning,normal,None,0.0,Sunday,1,1.0,0.0,1
26,2025-10-05,2025-10-05,27,print lyrics choir,church,done,yes,no,morning,normal,None,0.0,Sunday,1,1.0,0.0,1
27,2025-10-06,2025-10-06,28,submitted na AFS GIS na lang,church,done,yes,no,afternoon,unproductive,None,0.0,Monday,0,1.0,0.0,0
28,2025-10-06,2025-10-06,29,send songs (anniversary),church,done,yes,no,afternoon,unproductive,None,0.0,Monday,0,1.0,0.0,0
29,2025-10-07,2025-10-07,30,announcement (CLBC),church,done,yes,no,evening,normal,None,0.0,Tuesday,0,1.0,0.0,1
30,2025-10-07,2025-10-09,31,chapter 1 parts (Byteminds),thesis,done,yes,yes-alot,night,normal,scrolling on phone,2.0,Tuesday,0,1.0,2.0,1
31,2025-10-07,2025-10-07,32,minutes of the meeting (CLBC),church,done,yes,no,afternoon,normal,None,0.0,Tuesday,0,1.0,0.0,1
32,2025-10-07,2025-10-07,33,register next term courses,academics,done,yes,no,evening,normal,None,0.0,Tuesday,0,1.0,0.0,1
33,2025-10-08,2025-10-08,34,outline for testimonies (dapat mabigay na),church,done,yes,yes-little,evening,unproductive,got bored,0.0,Wednesday,0,1.0,1.0,0
34,2025-10-08,2025-10-08,35,asikasuhin yung module 3 (DOST LODI),academics,done,yes,yes-alot,afternoon,unproductive,kept checking social media,0.0,Wednesday,0,1.0,2.0,0
35,2025-10-09,2025-10-09,36,thesis 1,thesis,done,yes,yes-alot,afternoon,normal,kept checking social media,0.0,Thursday,0,1.0,2.0,1
36,2025-10-09,2025-10-09,37,LODI,academics,done,yes,yes-alot,morning,normal,daydreaming a lot,0.0,Thursday,0,1.0,2.0,1
37,2025-10-10,2025-10-10,38,LANI submission,academics,done,yes,no,afternoon,normal,None,0.0,Friday,0,1.0,0.0,1
38,2025-10-10,2025-10-10,39,music sheet,church,done,yes,yes-little,evening,normal,got tired,0.0,Friday,0,1.0,1.0,1
39,2025-10-10,2025-10-10,40,practice VM,church,done,yes,no,night,normal,None,0.0,Friday,0,1.0,0.0,1
40,2025-10-10,2025-10-13,41,chapter 1,thesis,done,yes,yes-alot,night,normal,phone kept distracting me,3.0,Friday,0,1.0,2.0,1
41,2025-10-10,2025-10-10,42,SOCPRO,academics,done,yes,yes-little,night,normal,phone kept distracting me,0.0,Friday,0,1.0,1.0,1
42,2025-10-10,2025-10-12,43,BOS,thesis,done,yes,yes-alot,night,normal,phone kept distracting me,2.0,Friday,0,1.0,2.0,1
43,2025-10-10,2025-10-10,44,forms,thesis,done,yes,yes-little,afternoon,normal,phone kept distracting me,0.0,Friday,0,1.0,1.0,1
44,2025-10-11,2025-10-11,45,LANI deadline of submission (for completion),academics,done,yes,no,afternoon,normal,None,0.0,Saturday,1,1.0,0.0,1
45,2025-10-12,2025-10-12,46,meeting with Byteminds,thesis,done,no,no,night,normal,None,0.0,Sunday,1,0.0,0.0,1
46,2025-10-13,2025-10-13,47,submit manuscript,thesis,done,yes,no,afternoon,normal,None,0.0,Monday,0,1.0,0.0,1
47,2025-10-13,2025-10-13,48,print documents,thesis,done,yes,no,morning,normal,None,0.0,Monday,0,1.0,0.0,1
48,2025-10-14,2025-10-14,49,message possible testimonies,church,done,yes,yes-little,morning,normal,lost focus easily,0.0,Tuesday,0,1.0,1.0,1
49,2025-10-14,2025-10-14,50,message ate clars,church,done,yes,no,morning,normal,None,0.0,Tuesday,0,1.0,0.0,1

# E. Validating

In [ ]:
df.isna().sum()

date_created          0
date_completed        8
task_id               0
task_name             0
category              0
status                0
work_alone            0
got_distracted        0
when_worked           0
day_quality           0
notes                 0
completion_days       8
created_weekday       0
is_weekend            0
work_alone_num        4
got_distracted_num    4
day_quality_num       0
dtype: int64

In [ ]:
df.dtypes

date_created          datetime64[ns]
date_completed        datetime64[ns]
task_id                        int64
task_name                     object
category                      object
status                        object
work_alone                    object
got_distracted                object
when_worked                   object
day_quality                   object
notes                         object
completion_days              float64
created_weekday               object
is_weekend                     int64
work_alone_num               float64
got_distracted_num           float64
day_quality_num                int64
dtype: object

In [ ]:
df.duplicated(subset=["task_id"]).sum()  # Should be 0

np.int64(0)

# F. Publishing

In [ ]:
final_columns = [
"date_created",
"date_completed",
"task_id",
"task_name",
"category",
"status",
"when_worked",
"notes",
"completion_days",
"created_weekday",
"is_weekend",
"work_alone_num",
"got_distracted_num",
"day_quality_num"
]

df_final = df[final_columns]

# Display the cleaned DataFrame for publication
print(df_final.head())

  date_created date_completed  task_id                             task_name  \
0   2025-10-01            NaT        1                                  None
1   2025-10-02     2025-10-02        2                meeting with Byteminds
2   2025-10-02     2025-10-02        3               plan church anniversary
3   2025-10-02     2025-10-02        4  print and organize consultation logs
4   2025-10-02     2025-10-03        5     assign this week's special number

  category status when_worked  \
0     None   None        None
1   thesis   done       night
2   church   done     evening
3   thesis   done   afternoon
4   church   done     evening

                                               notes  completion_days  \
0                                               None              NaN
1                                               None              0.0
2  spaced out multiple times, phone kept distract...              0.0
3                                               None              0.0
4               got bored, phone kept distracting me              1.0

  created_weekday  is_weekend  work_alone_num  got_distracted_num  \
0       Wednesday           0             NaN                 NaN
1        Thursday           0             0.0                 0.0
2        Thursday           0             1.0                 2.0
3        Thursday           0             1.0                 0.0
4        Thursday           0             1.0                 1.0

   day_quality_num
0                0
1                1
2                1
3                1
4                1

In [ ]:
df_final.to_csv('cleaned_dataset.csv', index=False)

print("Dataset successfully exported as 'cleaned_dataset.csv'.")

Dataset successfully exported as 'cleaned_dataset.csv'.